@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  background-color: #8b4504; }

img {
  height: 100%;
  width: 100%; }

.contenedorHome {
  display: grid;
  height: 1300px;
  border: solid #d36803 4px;
  grid-template-columns: 100%;
  grid-template-rows: 36% 5% 50% 9%;
  grid-template-areas: "header"
 "menu"
 "contenido"
 "footer"; }
  .contenedorHome .banner {
    height: 473px;
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../imagenes/bannerprincipal.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 100%;
    background-attachment: scroll; }
  .contenedorHome .titulo {
    font-size: 70px;
    margin: 0;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 40px; }
  .contenedorHome .subtitulo {
    font-size: 30px;
    margin: 0;
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 29px; }
  .contenedorHome nav {
    grid-area: menu; }
    .contenedorHome nav .listaMadreHome {
      margin: 0;
      padding: 0;
      list-style-type: none;
      background-color: red;
      height: 100%;
      align-items: center;
      justify-items: center;
      display: grid;
      grid-template-columns: 20% 20% 20% 20%  20%;
      grid-template-rows: 100%; }
      .contenedorHome nav .listaMadreHome .logoChest {
        font-family: 'Nunito Sans', sans-serif;
        color: darkgoldenrod;
        font-size: 30px;
        font-weight: bold;
        font-style: oblique;
        padding-left: 15px; }
      .contenedorHome nav .listaMadreHome .listaHome {
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 25px; }
      .contenedorHome nav .listaMadreHome .listaHome:hover {
        color: black;
        font-weight: bold; }
  .contenedorHome .seccionHome {
    display: grid;
    grid-area: contenido;
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "foto1 foto2 foto3"
 "foto4 foto5 foto6"; }
    .contenedorHome .seccionHome #fotoUno {
      grid-area: foto1; }
    .contenedorHome .seccionHome #fotoDos {
      grid-area: foto2; }
    .contenedorHome .seccionHome #fotoTres {
      grid-area: foto3; }
    .contenedorHome .seccionHome #fotoCuatro {
      grid-area: foto4; }
    .contenedorHome .seccionHome #fotoCinco {
      grid-area: foto5; }
    .contenedorHome .seccionHome #fotoSeis {
      grid-area: foto6; }
  .contenedorHome footer {
    background-color: black;
    height: 122px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    grid-area: footer; }
    .contenedorHome footer #botonFacebook {
      font-size: 60px;
      color: white;
      margin: 0;
      flex-grow: 1;
      text-align: center;
      padding-left: 30px; }
    .contenedorHome footer #botonFacebook:hover {
      font-size: 70px;
      color: #3b5998; }
    .contenedorHome footer #botonInstagram {
      font-size: 60px;
      color: white;
      margin: 0;
      flex-grow: 1;
      text-align: center;
      padding-left: 30px; }
    .contenedorHome footer #botonInstagram:hover {
      font-size: 70px;
      color: #983f9b; }
    .contenedorHome footer #botonTwitter {
      font-size: 60px;
      color: white;
      margin: 0;
      flex-grow: 1;
      text-align: center;
      padding-left: 30px; }
    .contenedorHome footer #botonTwitter:hover {
      font-size: 70px;
      color: #00acee; }

.bannerInterior {
  margin-left: 30px;
  margin-right: 30px;
  border-left: solid black 2px;
  border-right: solid black 2px;
  border-top: solid black 2px;
  height: 473px;
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../imagenes/banner-interior.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 100%;
  background-attachment: scroll; }

.titulo {
  font-size: 70px;
  font-weight: lighter;
  margin: 0;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif; }

.subtitulo {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  color: black;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding-top: 29px;
  margin-top: 30PX; }

#navGaleria {
  margin-bottom: 30px; }

.menuInterior {
  height: 65px;
  margin-left: 30px;
  margin-right: 30px;
  border: solid black 2px; }
  .menuInterior .listaMadreHome {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #c5670e;
    height: 100%;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%  20%;
    grid-template-rows: 100%; }
    .menuInterior .listaMadreHome .logoChest {
      font-family: 'Nunito Sans', sans-serif;
      color: darkgoldenrod;
      font-size: 40px;
      font-weight: bold;
      font-style: oblique;
      padding-left: 15px; }
    .menuInterior .listaMadreHome .listaHome {
      color: white;
      font-family: 'Roboto', sans-serif;
      font-size: 25px; }
    .menuInterior .listaMadreHome .listaHome:hover {
      color: black;
      transform: scale(1.2, 1.2);
      font-weight: bold; }

.seccionNosotros {
  border: solid black 2px;
  margin: 30px;
  height: 800px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-template-areas: "parrafo1 imagen1"
 "imagen2 parrafo2"; }

.textoNosotros1 {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  grid-area: parrafo1;
  background-color: #706e6e;
  text-align: left;
  padding-top: 60px;
  padding-right: 30px;
  padding-left: 30px; }

.primeraImagenNosotros {
  grid-area: imagen1; }

.textoNosotros2 {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  grid-area: parrafo2;
  padding-top: 50px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #cca394; }

.segundaImagenNosotros {
  grid-area: imagen2; }

.tamañoImg {
  max-width: 100%;
  height: auto; }

.redes {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 25px;
  align-items: center;
  justify-content: center;
  color: black;
  background: radial-gradient(circle, #7b9078 0%, black 100%);
  height: 60px;
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px; }
  .redes .textoRedes {
    margin: 0; }

footer {
  background-color: black;
  height: 122px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-area: footer; }
  footer #botonFacebook {
    font-size: 60px;
    color: white;
    margin: 0;
    flex-grow: 1;
    text-align: center;
    padding-left: 30px; }
  footer #botonFacebook:hover {
    font-size: 70px;
    color: #3b5998; }
  footer #botonInstagram {
    font-size: 60px;
    color: white;
    margin: 0;
    flex-grow: 1;
    text-align: center;
    padding-left: 30px; }
  footer #botonInstagram:hover {
    font-size: 70px;
    color: #983f9b; }
  footer #botonTwitter {
    font-size: 60px;
    color: white;
    margin: 0;
    flex-grow: 1;
    text-align: center;
    padding-left: 30px; }
  footer #botonTwitter:hover {
    font-size: 70px;
    color: #00acee; }

#tamañoDiv {
  height: 500px;
  width: 500px;
  border: solid black 2px;
  margin-left: 400px; }

.tamañoFoto {
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center; }

.pieDeFoto {
  color: black;
  font-weight: bold; }

.pieDeFoto:hover {
  transform: scale(1.2, 1.2); }

#tablaProductos {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px; }

#colorLetraTabla {
  color: #0b500b; }

@media only screen and (max-width: 768px) {
  .contenedorHome {
    display: grid;
    height: 1300px;
    border: solid #d36803 2px;
    grid-template-columns: 100%;
    grid-template-rows: 30% 4% 59% 7%;
    grid-template-areas: "header"
 "menu"
 "contenido"
 "footer"; }
    .contenedorHome .banner {
      height: auto;
      grid-area: header;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: url("../bannerprincipal.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: 100%;
      background-attachment: scroll; }
    .contenedorHome .titulo {
      font-size: 55px;
      margin: 0;
      color: white;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      padding-bottom: 20px; }
    .contenedorHome .subtitulo {
      font-size: 25px;
      margin: 0;
      color: black;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      padding-top: 29px; }
    .contenedorHome nav {
      grid-area: menu; }
      .contenedorHome nav .listaMadreHome {
        margin: 0;
        padding: 0;
        list-style-type: none;
        background-color: rgba(192, 83, 10, 0.931);
        height: 100%;
        align-items: center;
        justify-items: center;
        display: grid;
        grid-template-columns: 20% 20% 20% 20%  20%;
        grid-template-rows: 100%; }
        .contenedorHome nav .listaMadreHome .logoChest {
          font-family: 'Nunito Sans', sans-serif;
          color: #053a04;
          font-size: 30px;
          font-weight: bold;
          font-style: oblique;
          padding-left: 15px; }
        .contenedorHome nav .listaMadreHome .listaHome {
          color: white;
          font-family: 'Roboto', sans-serif;
          font-size: 20px; }
        .contenedorHome nav .listaMadreHome .listaHome:hover {
          color: black;
          font-weight: bold; }
    .contenedorHome .seccionHome {
      display: grid;
      grid-area: contenido;
      grid-template-columns: 50% 50%;
      grid-template-rows: 33% 33% 34%;
      grid-template-areas: "foto1 foto2"
 "foto3 foto4"
 "foto5 foto6"; }
      .contenedorHome .seccionHome #fotoUno {
        grid-area: foto1; }
      .contenedorHome .seccionHome #fotoDos {
        grid-area: foto2; }
      .contenedorHome .seccionHome #fotoTres {
        grid-area: foto3; }
      .contenedorHome .seccionHome #fotoCuatro {
        grid-area: foto4; }
      .contenedorHome .seccionHome #fotoCinco {
        grid-area: foto5; }
      .contenedorHome .seccionHome #fotoSeis {
        grid-area: foto6; }
    .contenedorHome footer {
      background-color: black;
      grid-area: footer;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: nowrap;
      align-items: center; }
      .contenedorHome footer #botonFacebook {
        font-size: 50px;
        color: white;
        margin: 0;
        flex-grow: 1;
        text-align: center;
        padding-left: 30px; }
      .contenedorHome footer #botonFacebook:hover {
        font-size: 60px;
        color: #3b5998; }
      .contenedorHome footer #botonInstagram {
        font-size: 50px;
        color: white;
        margin: 0;
        flex-grow: 1;
        text-align: center;
        padding-left: 30px; }
      .contenedorHome footer #botonInstagram:hover {
        font-size: 60px;
        color: #983f9b; }
      .contenedorHome footer #botonTwitter {
        font-size: 50px;
        color: white;
        margin: 0;
        flex-grow: 1;
        text-align: center;
        padding-left: 30px; }
      .contenedorHome footer #botonTwitter:hover {
        font-size: 60px;
        color: #00acee; }
  .bannerInterior {
    margin-left: 10px;
    margin-right: 10px;
    border-left: solid black 2px;
    border-right: solid black 2px;
    border-top: solid black 2px;
    height: 390px;
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../banner-interior.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 100%;
    background-attachment: scroll; }
  .titulo {
    font-size: 55px;
    margin: 0;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px; }
  .subtitulo {
    font-size: 25px;
    margin: 0;
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 29px; }
  .menuInterior {
    height: 52px;
    margin-left: 10px;
    margin-right: 10px;
    border: solid black 2px; }
    .menuInterior .listaMadreHome {
      margin: 0;
      padding: 0;
      list-style-type: none;
      background-color: #c5670e;
      height: 100%;
      align-items: center;
      justify-items: center;
      display: grid;
      grid-template-columns: 20% 20% 20% 20%  20%;
      grid-template-rows: 100%; }
      .menuInterior .listaMadreHome .logoChest {
        font-family: 'Nunito Sans', sans-serif;
        color: #053a04;
        font-size: 30px;
        font-weight: bold;
        font-style: oblique;
        padding-left: 15px; }
      .menuInterior .listaMadreHome .listaHome {
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 20px; }
      .menuInterior .listaMadreHome .listaHome:hover {
        color: black;
        font-weight: bold; }
  .seccionNosotros {
    border: solid black 2px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 600px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "parrafo1 imagen1"
 "imagen2 parrafo2"; }
  .textoNosotros1 {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    grid-area: parrafo1;
    background-color: #706e6e;
    text-align: left;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px; }
  .primeraImagenNosotros {
    grid-area: imagen1; }
  .textoNosotros2 {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    grid-area: parrafo2;
    padding: 0;
    background-color: #cca394;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px; }
  .segundaImagenNosotros {
    grid-area: imagen2; }
  .tamañoImg {
    height: 100%; }
  .redes {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    color: black;
    background: radial-gradient(circle, #7b9078 0%, black 100%);
    height: 52px;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px; }
    .redes .textoRedes {
      margin: 0; }
  #tamañoDiv {
    height: 500px;
    width: 500px;
    border: solid black 2px;
    margin-left: 120px; }
  .tamañoFoto {
    width: 100%;
    height: 100%;
    display: flex;
    align-self: center; }
  .pieDeFoto {
    color: black;
    font-weight: bold; }
  .pieDeFoto:hover {
    transform: scale(1.2, 1.2); }
  #navGaleria {
    margin-bottom: 20px; }
  #tablaProductos {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px; }
  #colorLetraTabla {
    color: #0b500b; } }

@media only screen and (max-width: 480px) {
  .contenedorHome {
    display: grid;
    height: 1100px;
    border: solid #d36803 2px;
    grid-template-columns: 100%;
    grid-template-rows: 25% 13% 49% 13%;
    grid-template-areas: "header"
 "menu"
 "contenido"
 "footer"; }
    .contenedorHome .banner {
      height: auto;
      grid-area: header;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: url("../bannerprincipal.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: 100%;
      background-attachment: scroll; }
    .contenedorHome .titulo {
      font-size: 35px;
      margin: 0;
      color: white;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      padding-bottom: 20px; }
    .contenedorHome .subtitulo {
      font-size: 20px;
      margin: 0;
      color: black;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      padding-top: 29px; }
    .contenedorHome nav {
      grid-area: menu;
      height: 145px; }
      .contenedorHome nav .listaMadreHome {
        margin: 0;
        padding: 0;
        background-color: rgba(192, 83, 10, 0.931);
        height: 100%;
        justify-items: center;
        display: flex;
        flex-direction: column; }
        .contenedorHome nav .listaMadreHome .logoChest {
          font-family: 'Nunito Sans', sans-serif;
          color: #053a04;
          font-size: 22px;
          font-weight: bold;
          font-style: oblique;
          padding-left: 15px; }
        .contenedorHome nav .listaMadreHome .listaHome {
          color: white;
          font-family: 'Roboto', sans-serif;
          font-size: 20px; }
        .contenedorHome nav .listaMadreHome .listaHome:hover {
          color: black;
          font-weight: bold; }
    .contenedorHome .seccionHome {
      display: grid;
      grid-area: contenido;
      grid-template-columns: 50% 50%;
      grid-template-rows: 33% 33% 34%;
      grid-template-areas: "foto1 foto2"
 "foto3 foto4"
 "foto5 foto6"; }
      .contenedorHome .seccionHome #fotoUno {
        grid-area: foto1; }
      .contenedorHome .seccionHome #fotoDos {
        grid-area: foto2; }
      .contenedorHome .seccionHome #fotoTres {
        grid-area: foto3; }
      .contenedorHome .seccionHome #fotoCuatro {
        grid-area: foto4; }
      .contenedorHome .seccionHome #fotoCinco {
        grid-area: foto5; }
      .contenedorHome .seccionHome #fotoSeis {
        grid-area: foto6; }
    .contenedorHome footer {
      background-color: black;
      grid-area: footer;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: nowrap;
      align-items: center;
      height: 100%; }
      .contenedorHome footer #botonFacebook {
        font-size: 50px;
        color: white;
        margin: 0;
        flex-grow: 1;
        text-align: center;
        padding-left: 0; }
      .contenedorHome footer #botonFacebook:hover {
        font-size: 60px;
        color: #3b5998; }
      .contenedorHome footer #botonInstagram {
        font-size: 50px;
        color: white;
        margin: 0;
        flex-grow: 1;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px; }
      .contenedorHome footer #botonInstagram:hover {
        font-size: 60px;
        color: #983f9b; }
      .contenedorHome footer #botonTwitter {
        font-size: 50px;
        color: white;
        margin: 0;
        flex-grow: 1;
        text-align: center;
        padding-left: 0; }
      .contenedorHome footer #botonTwitter:hover {
        font-size: 60px;
        color: #00acee; }
  .bannerInterior {
    margin-left: 0;
    margin-right: 0;
    border: solid black 1px;
    height: 300px;
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../banner-interior.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 100%;
    background-attachment: scroll; }
  .titulo {
    font-size: 35px;
    margin: 0;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px; }
  .subtitulo {
    font-size: 20px;
    margin: 0;
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 29px; }
  .menuInterior {
    height: 144px;
    margin-left: 0;
    margin-right: 0;
    border: solid black 1px; }
    .menuInterior .listaMadreHome {
      margin: 0;
      padding: 0;
      list-style-type: none;
      background-color: rgba(192, 83, 10, 0.931);
      height: 100%;
      align-items: center;
      justify-items: center;
      display: flex;
      flex-direction: column; }
      .menuInterior .listaMadreHome .logoChest {
        font-family: 'Nunito Sans', sans-serif;
        color: #053a04;
        font-size: 20px;
        font-weight: bold;
        font-style: oblique;
        padding-left: 15px; }
      .menuInterior .listaMadreHome .listaHome {
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 18px; }
      .menuInterior .listaMadreHome .listaHome:hover {
        color: black;
        font-weight: bold; }
  .seccionNosotros {
    border: solid black 1px;
    margin: 0;
    height: 320px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "parrafo1 imagen1"
 "imagen2 parrafo2"; }
  .textoNosotros1 {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 9.5px;
    grid-area: parrafo1;
    background-color: #706e6e;
    text-align: left;
    padding: 2px; }
  .primeraImagenNosotros {
    grid-area: imagen1; }
  .textoNosotros2 {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 9px;
    grid-area: parrafo2;
    padding: 2px;
    background-color: #cca394;
    text-align: left; }
  .segundaImagenNosotros {
    grid-area: imagen2; }
  .tamañoImg {
    height: 100%; }
  .redes {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    align-items: center;
    justify-content: center;
    color: black;
    background: radial-gradient(circle, #7b9078 0%, black 100%);
    height: 52px;
    display: flex;
    margin: 0; }
    .redes .textoRedes {
      margin: 0; }
  footer {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    height: 143px; }
    footer #botonFacebook {
      font-size: 50px;
      color: white;
      margin: 0;
      flex-grow: 1;
      text-align: center;
      padding-left: 0; }
    footer #botonFacebook:hover {
      font-size: 60px;
      color: #3b5998; }
    footer #botonInstagram {
      font-size: 50px;
      color: white;
      margin: 0;
      flex-grow: 1;
      text-align: center;
      padding-left: 30px;
      padding-right: 30px; }
    footer #botonInstagram:hover {
      font-size: 60px;
      color: #983f9b; }
    footer #botonTwitter {
      font-size: 50px;
      color: white;
      margin: 0;
      flex-grow: 1;
      text-align: center;
      padding-left: 0; }
    footer #botonTwitter:hover {
      font-size: 60px;
      color: #00acee; }
  #navGaleria {
    margin-bottom: 0; }
  #tamañoDiv {
    height: 330px;
    width: 330px;
    border: solid black 1px;
    margin-left: 15px; }
  .tamañoFoto {
    width: 100%;
    height: 100%;
    display: flex;
    align-self: center; }
  #tablaProductos {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px; }
  #colorLetraTabla {
    color: #0b500b; } }
