$colorFondo: darkolivegreen;
$verdePadre:  rgb(11, 80, 11);
$colorLetraMadre: white;
$estiloLetraMadre: 'Roboto', sans-serif;
$bordeComun:  solid black 2px;

@mixin redesSociales($colorIcono){
    margin: 0;
    flex-grow: 1;
    text-align: center;
    font-family: 'Roboto', sans-serif; 
    font-style: normal;
    font-weight:lighter; 
    font-size: 20px;
    color: $colorIcono;
}
